@import "breakpoints";

.footer {
  display: flex;
  justify-content: space-between;
  padding: 37px 0;

  @include respond-to(phone) {
    flex-direction: column;
    padding: 0 15px;
    margin-top: 24px;
  }

  &:after {
    content: '';
    display: block;
    opacity: 0.12;
    height: 1px;
    background: #000000;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -37px;

    @include respond-to(phone) {
      margin-top: -24px;
    }
  }

  .copy {
    font-size: 16px;
    line-height: 24px;
    font-size: 16px;
    line-height: 24px;
  }
  .stud {
    font-size: 16px;
    line-height: 24px;
    color: #232323;

    @include respond-to(phone) {
      margin-bottom: 24px;
    }
  }
}
