@import "breakpoints";
@import "display";

.hero {
  display: flex;
  align-items: center;
  margin-top: 108px;

  @include respond-to(phone) {
    flex-direction: column;
    margin-top: 24px;
    padding: 0 15px;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 68px;
    color: #232323;
    margin-bottom: 16px;

    @include respond-to(phone) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__subtitle {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #232323;
    margin-bottom: 32px;
  }
}

.hero__field {
  display: flex;
  align-items: stretch;

  &-input {
    height: 56px;
    width: 308px;
    font-size: 14px;
    line-height: 24px;
    color: #8E8E8E;
    background: #F5F5F5;
    box-shadow: 0px 10px 36px -12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    padding: 16px 24px;

    @include respond-to(phone) {
      width: 100%;
    }

    &:focus {
      outline: 0;
    }
  }

  .btn {
    height: 56px;
    width: 100px;
    justify-content: center;
  }
}

.dummy {
  width: 500px;
  height: 96px;
  padding: 24px;
  background: #232323;
  margin-left: auto;
  margin-top: 60px;
  display: none;

  @include respond-to(phone) {
    &.d-none {
      width: 100%;
      display: block;
      margin-top: 24px;
      margin-bottom: 24px;

      span {
        width: 100%;
      }
    }
    display: none;
  }

  span {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    width: 298px;
    height: 48px;
  }
}

#section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  @include respond-to(phone) {
    margin-top: 24px;
    align-items: flex-start;
    padding: 0 15px;
  }

  .getting-started {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #3D8AFF;
  }

  .title {
    font-weight: bold;
    font-size: 40px;
    line-height: 68px;
    color: #232323;
    span {
      color: #3D8AFF;
    }

    @include respond-to(phone) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .stepper {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include respond-to(phone) {
      margin-top: 0;
      flex-direction: column;
    }

    & > .step {
      max-width: 304px;

      .number {
        font-size: 40px;
        line-height: 60px;
        color: #3D8AFF;

        @include respond-to(phone) {
          font-size: 20px;
          line-height: 30px;
          margin-top: 24px;
        }

        &:after {
          display: block;
          content: '';
          width: 14px;
          height: 14px;
          background: #3D8AFF;
          margin-top: 16px;
          margin-bottom: 24px;
        }
      }

      .text {
        font-size: 16px;
        line-height: 24px;
        color: #232323;
      }
    }
  }
}

#section-3 {
  margin-top: 160px;
  display: flex;

  @include respond-to(phone) {
    flex-direction: column;
    padding: 0 15px;
    width: 100%;
    margin-top: 24px;
  }

  & > * {
    flex: 1;
  }

  .left {
    .img {
      width: 100%;
      height: auto;
    }

    @include respond-to(phone) {
      order: 2;
    }
  }
  .right {
    .title {
      margin-top: -172px;
      top: 90px;
      background: #ffffff;
      position: relative;
      height: 182px;
      font-weight: bold;
      font-size: 40px;
      line-height: 68px;
      display: flex;
      align-items: center;
      margin-right: 40px;
      white-space: nowrap;
      span {
        white-space: pre;
        color: #3D8AFF;
      }

      @include respond-to(phone) {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        top: 0;
        margin-top: 24px;
        height: auto;
      }
    }
    .content {
      background: #3D8AFF;
      padding: 146px 80px 54px 80px;

      @include respond-to(phone) {
        background: #ffffff;
        padding: 0;
      }

      .subtitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: #ffffff;

        @include respond-to(phone) {
          color: #232323;
          font-size: 16px;
          line-height: 24px;
          margin-top: 16px;
          display: block;
        }
      }

      .body {
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        display: block;
        margin-top: 24px;
        @include respond-to(phone) {
          color: #232323;
          margin-bottom: 24px;
        }
      }
    }
  }
}

#section-4 {
  margin-top: 160px;
  display: flex;

  @include respond-to(phone) {
    margin-top: 40px;
    width: 100%;
  }

  .right-border {
    width: 72px;
    height: 490px;
    background: #3D8AFF;
    margin-right: 60px;

    @include respond-to(phone) {
      display: none;
    }
  }

  .reviews {
    background: #F7F7F7;
    padding: 60px;
    height: 490px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond-to(phone) {
      width: 100%;
      height: auto;
      padding: 24px 15px;
    }

    &__header {
      display: flex;
      width: 100%;
      .logo {
        width: 60px;
        height: 60px;
        margin-right: 60px;
        @include respond-to(phone) {
          display: none;
        }
      }

      &-body {
        display: flex;
        flex-direction: column;

        .subtitle {
          font-size: 16px;
          line-height: 24px;
          color: #3D8AFF;
        }

        .title {
          font-size: 40px;
          line-height: 68px;
          color: #232323;
          font-weight: bold;

          span {
            color: #3D8AFF;
          }

          @include respond-to(phone) {
            font-size: 20px;
            line-height: 30px;
            margin-top: 8px;
            margin-bottom: 16px;
          }
        }
      }
      .controls {
        display: flex;

        @include respond-to(phone) {
          display: none;
        }

        &.mobile {
          width: 100%;
        }

        & > * {
          width: 60px;
          height: 60px;
          justify-content: center;
          align-items: center;
          background: #ffffff;

          &:first-child {
            margin-right: 4px;
          }
        }

        .btn {
          svg {
            margin-right: 0;
          }
        }
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      margin-left: 120px;

      @include respond-to(phone) {
        margin: 0;
      }

      &-text {
        max-width: 804px;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        color: #232323;
      }

      &-author {
        margin-top: 16px;
        font-size: 16px;
        line-height: 24px;
        color: #3D8AFF;
      }
    }
  }
}

#section-5 {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to(phone) {
    margin-top: 24px;
    align-items: flex-start;
    padding: 0 15px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #3D8AFF;
  }

  .title {
    font-weight: bold;
    font-size: 40px;
    line-height: 68px;
    color: #232323;
    span {
      color: #3D8AFF;
    }
    margin-bottom: 56px;

    @include respond-to(phone) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 16px;
    }
  }

  .feature {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__item {
      display: flex;

      @include respond-to(phone) {
        flex-direction: column;
        margin-bottom: 24px;
      }

      &-body {
        flex: 1;
        align-self: center;
        padding: 56px 56px 56px 0;
        display: flex;
        flex-direction: column;
        background: linear-gradient(90deg, #ffff 50%, #F7F7F7 50%);

        @include respond-to(phone) {
          background: none;
          padding: 0;
        }
      }

      &-img {
        flex: 1;

        img {
          width: 100%;
          height: auto;

          @include respond-to(phone) {
            margin-top: 24px;
          }
        }
      }

      &-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: #3D8AFF;
        margin-bottom: 16px;
      }
      &-text {
        font-size: 16px;
        line-height: 24px;
        color: #232323;
      }
    }
  }

  @include respond-to(desktop) {
    .feature__item + .feature__item {
      &:not(:last-of-type) {
        flex-direction: row-reverse;

        .feature__item-body {
          padding: 56px 0 56px 56px;
          background: linear-gradient(90deg, #F7F7F7 50%, #ffff 50%);
        }
      }
    }
  }
}

#section-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 875px;
  width: 100%;
  margin-top: 160px;
  text-align: center;

  @include respond-to(phone) {
    width: 100%;
    max-width: available;
    margin-top: 0;
    align-items: flex-start;
    padding: 0 15px;
    text-align: start;
  }

  .title {
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #232323;
    span {
      color: #3D8AFF;
    }

    @include respond-to(phone) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

#section-7 {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  margin-bottom: 160px;

  @include respond-to(phone) {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0 15px;
  }

  .btn {
    margin-top: 24px;
    justify-content: center;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include respond-to(phone) {
      display: none;
    }

    .btn {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #8E8E8E;

      svg {
        margin-top: -2.5px;
        margin-right: 0;
        margin-left: 8px;
      }
    }
  }

  .posts {
    display: flex;

    @include respond-to(phone) {
      flex-direction: column;
    }

    .post + .post {
      margin-left: 40px;

      @include respond-to(phone) {
        margin-top: 24px;
        margin-left: 0;
      }
    }

    .post {
      display: flex;
      flex-direction: column;
      &__img {
        width: 100%;
        height: 258px;
        margin-bottom: 24px;
      }
      &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: #232323;
        margin-bottom: 12px;
      }
      &__text {
        font-size: 16px;
        line-height: 24px;
        color: #232323;
      }
    }
  }
}

.controls {
  display: flex;

  @include respond-to(phone) {
    display: none;
  }

  &.mobile {
    width: 100%;
    display: flex;
    justify-content: center;

    @include respond-to(desktop) {
      display: none;
    }
  }

  & > * {
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #ffffff;

    @include respond-to(phone) {
      background: #1C52A3;
      width: auto;
      flex: 1;
      margin-top: 16px;

      svg {
        fill: #FFFFFF;
      }
    }

    &:first-child {
      margin-right: 4px;
    }
  }

  .btn {
    svg {
      margin-right: 0;
    }
  }
}


.mobile {
  display: none;
  @include respond-to(phone) {
    display: block;
  }
}
