.modal {
  position: fixed;
  width: 840px;
  background: #ffffff;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: tranlslateY(-50%);
  transform: translateY(-50%);
  left: calc(50% - 420px);
  z-index: 100;
  border-radius: 4px;
  padding-bottom: 80px;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    .close-btn {
      position: absolute;
      right: 0;
      top: 0;
      background: #1C52A3;
      border-radius: 0px 4px 0px 0px;
      width: 56px;
      height: 56px;
      border: 0;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
    }
    .back-btn {
      position: absolute;
      left: 0;
      top: 0;
      background: #1C52A3;
      border-radius: 4px 0 0 0;
      width: 56px;
      height: 56px;
      border: 0;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
    }

    .stepper {
      display: flex;
      align-items: center;
      height: 136px;
      .step {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #232323;
        width: 98px;

        &:not(:last-of-type) {
          margin-right: 8px;
        }

        &.active {
          &:before {
            background: #3D8AFF;
          }
        }

        &:before {
          content: '';
          display: block;
          width: 98px;
          height: 8px;
          background: #C0C0C0;
          margin-bottom: 20px;
        }

        &:first-of-type, &:last-of-type {
          width: 142px;

          &:before {
            border-radius: 0px 8px 8px 0px;
            width: 139px;
          }
        }

        &:first-of-type {
          text-align: start;
          &:before {
            transform: matrix(-1, 0, 0, 1, 0, 0);
          }
        }

        &:last-of-type {
          text-align: end;
        }
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: bold;
      font-size: 32px;
      line-height: 48px;
      color: #232323;
      margin-top: 43px;
      margin-bottom: 16px;
      text-align: center;
    }
    span {
      font-size: 16px;
      line-height: 24px;
      color: #232323;
      margin-bottom: 24px;
      max-width: 411px;
      text-align: center;
    }

  }
}

.divider {
  width: 100%;
  height: 1px;
  background: #C0C0C0;
}

.hero__field {
  display: flex;
  align-items: stretch;

  &-input {
    height: 56px;
    width: 308px;
    font-size: 14px;
    line-height: 24px;
    color: #8E8E8E;
    background: #F5F5F5;
    box-shadow: 0px 10px 36px -12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    padding: 16px 24px;

    &:focus {
      outline: 0;
    }
  }

  .btn {
    height: 56px;
    width: 100px;
    justify-content: center;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.54;
}

.input__wrapper {
  display: flex;
  width: 520px;

  justify-content: space-between;

  & ~ .btn {
    margin-top: 24px;
    width: 520px;
    align-items: center;
    justify-content: center;
  }

  .field {
    display: flex;
    flex-direction: column;
    .label {
      text-align: start;
      margin-bottom: 4px;
      font-size: 12px;
      line-height: 16px;
      color: #3c3c3c;
    }
    .input {
      width: 240px;
      height: 40px;
      padding: 10px 8px;
      background: #FAFBFC;
      border: 1px solid #B3B3B3;
      box-sizing: border-box;
      border-radius: 3px;
      font-size: 14px;
      line-height: 20px;
      color: #B2B2B2;

      &:first-of-type {
        margin-right: 40px;
      }
    }
  }
}
.selector {
  display: flex;
  flex-wrap: wrap;
  background: #F5F5F5;
  border-radius: 4px;
  width: 670px;
  height: 156px;
  padding: 4px;

  .select {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 4px;
    width: 218px;
    height: 72px;
    cursor: pointer;

    margin-right: 4px;

    &:nth-child(3), &:nth-child(6) {
      margin-right: 0;
    }
  }
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;

  svg {
    margin-top: calc(48px + 48px);
    margin-bottom: 16px;
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #232323;
  }
}
