.header {
  width: 100%;
  background: #FBFBFB;
  
  .container {
    display: flex;
    align-items: center;
    height: 72px;
  }

  .logo {
    margin-right: 24px;
  }

  .slogan {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  button + button {
    margin-left: 25px;
  }
}
