.box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;

  &-main {
    position   : relative;
    max-height : 100%;
    max-width  : 100%;

    mat-card {
      min-width: 380px;
    }

    #auth-form {
      display: flex;
      flex-direction: column;
    }
  }
}

